.loading__container.rc-loading {
    height: 100vh;
    width: 100vw;
}
.loading__container.rc-loading-hide{
    @media(min-width: 992px) {
        padding: 120px 80px;
    }
}

.catalog-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    grid-gap: 30px;
    justify-content: center;
}

.card {
    height: 100%;
    max-width: 500px;
    overflow: hidden;
}

.card-text--truncate {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; 
}

.card-body__image {
    height: 185px;
}

.detail-card__container {
    @media(min-width: 992px) {
        padding: 120px 80px;
    }
}

