.catalog-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    grid-gap: 30px;
    justify-content: center;
}

.card {
    height: 100%;
    max-width: 500px;
    overflow: hidden;
}

.card-text--truncate {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; 
}

.card-body__image {
    height: 185px;
}